<%= content_for(:title, "The Definitive Guide To Building a Winning Forex Trading System") %>
<div class="container-fluid">
    <object data="./assets/The Definitive Guide To Building a Winning Forex Trading System.pdf" type="application/pdf" width="100%" height="1000%">
        <iframe src="./assets/The Definitive Guide To Building a Winning Forex Trading System.pdf" width="100%" style="border: none;">
            This browser does not support PDFs. Please download the PDF to view it: <a href="./assets/The Definitive Guide To Building a Winning Forex Trading System.pdf">Download PDF</a>
        </iframe>
    </object>
</div>