<!-- Image header -->
<header class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="./assets/forex-blog-image.jpg" alt="Blog" width="1600" height="1060">
</header>
<hr>
<div class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="./assets/free-forex-book.jpg" alt="free books" width="1600" height="1060">
</div>
<!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <h3>Fill the form to download the  free book</h3>
                    <%= render "form" %>
                        <div class="copyright">
                            &copy; GamerzArena</a>
                        </div>
                </div>
            </footer>