<!DOCTYPE html>
<html>
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card-2" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Expo</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#kenya" class="w3-bar-item w3-button">Kenya Expo</a>
      <a href="#university" class="w3-bar-item w3-button">University Expo</a>
      <a href="#floor" class="w3-bar-item w3-button">Floor plan</a>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="kenya">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="./assets/forex-kenya.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Expo</h1><br>
      <h5 class="w3-center">The Kenya Forex Trade Expo</h5>
    </div>
  </div>
  
  <hr>

  <div class="w3-row w3-padding-64" id="university">
    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Expo</h1><br>
      <h5 class="w3-center">The University Forex Expo</h5>
    </div>
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="./assets/forex-uni.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>
  </div>
  
  <hr>

  <div class="w3-row w3-padding-64" id="floor">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="./assets/floor-plan.png" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Floor Plan</h1><br>
      <h5 class="w3-center">The proposed layout plan</h5>
    </div>
  </div>

</body>
</html>
