<!DOCTYPE html>
<html>
<title>
    <%= content_for(:title, "Forex Competitions") %>
</title>

<body class="w3-content w3-black" style="max-width:1500px;">
    <!-- Header with Slideshow -->
    <header class="w3-container w3-center w3-padding-48 w3-white">
        <h1 class="w3-xxxlarge"><b>FOREX TRADING MOGUL COMPETITION </b></h1>
    </header>
    <header class="w3-display-container">
        <div class="mySlides w3-animate-opacity">
            <img class="w3-image" src="./assets/competition.jpg" alt="Image 1" style="min-width:500px" width="1500" height="1000">
            <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
                <div class="w3-black w3-padding-large w3-round-large">
                    <h1 class="w3-xlarge"><b>Forex Trade Mogul Competition</b></h1>
                    <hr class="w3-opacity">
                    <p>Forex Trade Mogul Competition is a unique and exciting Online Forex Trading Simulation, created and developed by Forex Arena that aims to provide Kenyans a chance to experience trading in international Forex currency pair’s i.e. EUR/USD, GBP/USD, USD/JPY, USD/CHF among others and CFD trading i.e. Gold, Oil, Indices among others. This competition is intended for Kenyans only to experience the challenges of trading in international Forex markets with real-time prices. You will be able to test your analytical skills and risk appetite against professional traders.</p>
                </div>
            </div>
        </div>
        <div class="mySlides w3-animate-opacity">
            <img class="w3-image" src="./assets/competition.jpg" alt="Image 2" style="min-width:500px" width="1500" height="1000">
            <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
                <div class="w3-black w3-padding-large w3-round-large">
                    <h1 class="w3-xlarge w3-text-red"><b>Forex Trading</b></h1>
                    <hr class="w3-opacity">
                    <p>Forex Trading is buying low and selling high or selling high and then buying low, depending on how you anticipate the market moving. Buy if you feel the market is going to go up. If you feel the market is set to come down, sell and buy later when it’s down.</p>
                </div>
            </div>
        </div>
        <div class="mySlides w3-animate-opacity">
            <img class="w3-image" src="./assets/competition.jpg" alt="Image 3" style="min-width:500px" width="1500" height="1000">
            <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
                <div class="w3-black w3-padding-large w3-round-large">
                    <h1 class="w3-xlarge"><b>Are you good at it?</b></h1>
                    <hr class="w3-opacity">
                    <p>Do you like it? In general, Forex trading successfully is less about your academic foundation and more about your skills and personal abilities. Successful traders come from all academic disciplines, especially those that require strong numerate and analytical skills. You may not have knowledge of international markets, but market information and analytical reports are provided on the Forex Arena website as part of the trading simulation.</p>
                </div>
            </div>
        </div>
        <a class="w3-button w3-black w3-display-right w3-margin-right w3-round w3-hide-small w3-hover-light-grey" onclick="plusDivs(1)">Next <i class="fa fa-angle-right"></i></a>
        <a class="w3-button w3-block w3-black w3-hide-large w3-hide-medium" onclick="plusDivs(1)">Take Tour <i class="fa fa-angle-right"></i></a>
    </header>
    <script>
    // Slideshow
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
    </script>
    <hr>
    <!--partners-->
    <div class="mySlides w3-display-container w3-center">
        <img src="./assets/partners.jpg" style="width:100%">
    </div>
    <!-- Modal -->
    <div id="suggestions">
        <div class="w3-container w3-padding-64 w3-pale-red w3-center w3-wide" id="rsvp">
            <h1>Interested?</h1>
            <p class="w3-large">Do you want to be a participant?</p>
            <hr>
            <p class="w3-xlarge">
                <button onclick="document.getElementById( 'id01').style.display='block' " class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off" style="padding:8px 60px">Terms & Conditions</button>
            </p>
        </div>
    </div>
    <!-- suggestion modal -->
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
            <div class="w3-container w3-white w3-center">
                <p>1. Forex Trade Mogul Competition will commence on 1 November 2017 and end on 22 November 2017. Registration to participate in the competition is open now and will stay open until the end of the competition on the 22nd November at 23:59 GMT. This is the opportunity to win, with no risk and no entry fee, 24/7 you can trade anywhere and anytime using your Laptop/ Tablet/ iPad / Mobile Phone or trade on any web browser.</p>
                <hr>
                <p>2. On your Forex Trade Mogul Competition Account you will be allocated $ 50,000 which is equivalent to Ksh 5,000,000 and Contest Accounts will be set only in USD currency. You are required to trade the money on all Forex Currency and generate as much profit as you can and minimize your loss as you can. The ranking of the competition will be based only on profit and loss (PnL) on your account and it will be posted daily on the ranking section.</p>
                <hr>
                <p>3. Registration is open and you can start practicing now up-to 31st October 2017 on your Forex Trade Mogul Competition Account. All the Forex Trade Mogul Competition Account account will be reset back to $ 50,000 before the competition starts on 1st November 2017.</p>
                <hr>
                <p>4. All positions that are open at end of Forex Trade Mogul Competition on 22 November 2017 at 11:59 PM Kenyan Time will be automatically closed at prevailing market prices.</p>
                <hr>
                <p>5. Cash prizes awaiting the winners are real money! *All prizes are credited in a Live Account. The top 3 performers will be awarded the following: Grand Winner USD 2,000 ( equivalent to Ksh 200,000) First Runners Up USD 1,000 (equivalent to Ksh 100,000) Second Runners Up USD 750 (equivalent to Ksh 75,000) Terms & Conditions apply (Accept To Register) – Our Database: Name, Email, Mobile No:</p>
                <hr>
                <script>
                function myFunction() {
                    var x = document.getElementById('myDIV');
                    x.onclick('myDIV').show()
                }
                </script>
                <div class="row">
                    <div class="col">
                        <input type="checkbox" name="agree" id="agree" value="agree" onclick="myFunction()" />
                        <label for='agree'>Do you agree to Terms & Conditions?</label>
                    </div>
                    <div class="col">
                        <button id="myDIV" onclick="document.getElementById( 'id02').style.display='block' " class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off" style="padding:8px 60px; display: none">Fill the form</button>
                        <br>
                    </div>
                    <div class="col">
                        <div class="w3-half">
                            <button onclick="document.getElementById( 'id01').style.display='none' " type="button" class="w3-button w3-block w3-blue">x</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="id02" class="w3-modal">
            <div class="w3-modal-content" style="padding:32px;max-width:600px">
                <div class="w3-container w3-white w3-center">
                    <footer id="footer">
                        <div class="inner">
                            <h3>Fill the form</h3>
                            <%= render "form" %>
                                <div class="copyright">
                                    &copy; GamerzArena</a>
                                </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="mySlides w3-display-container w3-center">
            <img src="./assets/share.jpg" style="width:100%">
        </div>
    </div>
</body>

</html>