<!DOCTYPE HTML>
<html>

<body>
    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <header>
                <h1>SOUTH AFRICA FOREX AWARDS 2018 </h1>
            </header>
            <div class="flex ">
                <p><b>South Africa Forex Awards</b> will bring the great and good of the Forex industry together to celebrate the many successes of the year. The 2018 South Africa Forex Awards winners will be announced on Wednesday 19 September 2018, at the Hyatt Regency Johannesburg; South Africa. The awards look to celebrate the best performing companies in the South Africa Forex markets. Forex traders and the private investment community have the chance to cast their votes online for those companies that have consistently performed to the best of their abilities making the South Africa Forex Awards a unique event of its kind in South Africa. The awards reward those companies championing cutting-edge technology, low-cost trading, comprehensive market research tools, advanced educational programmes and world-class customer service.</p>
            </div>
            <!-- Three -->
            <section id="three" class="wrapper align-center">
                <div class="inner">
                    <div class="flex flex-2">
                        <article>
                            <h1 class="w3-large"><b>The Event Schedule</b></h1>
                            <p>18.15 - Champagne reception on arrival</p>
                            <p>19.00 - Live entertainment</p>
                            <p>19.30 - Drinks reception, canapés and photo opportunities</p>
                            <p>22.00 - Close</p>
                        </article>
                        <hr>
                        <article>
                            <h1 class="w3-xlarge"><b>Awards Timelines</b></h1>
                            <table>
                                <tr>
                                    <th>1 August 2018 </th>
                                    <th> Nomination voting opens</th>
                                </tr>
                                <tr>
                                    <th>27 August 2018 </th>
                                    <th> Nomination voting closes</th>
                                </tr>
                                <tr>
                                    <th>1 September 2018 </th>
                                    <th> Nominations announced</th>
                                </tr>
                                <tr>
                                    <th>19 September 2018 </th>
                                    <th> Winners announced</th>
                                </tr>
                            </table>
                        </article>
                    </div>
                </div>
            </section>
            <hr>
            <!--four-->
            <section id="three" class="wrapper align-center">
                <h1 class="w3-xlarge"><b>Africa Forex Awards 2018 Categories</b></h1>
                <ol>
                    <div class="row">
                        <div class="container-fluid" style="padding-left: 80px;">
                            <div class="col" style="text-align: left;">
                                <li>Best Forex Broker in South Africa</li>
                                <li>Best Forex Fundamental Analysis Provider</li>
                                <li>Best Forex Technical Analysis Provider</li>
                                <li>Best Forex Mobile/Tablet Trading Application</li>
                                <li>Best Forex STP/ECN Broker</li>
                                <li>Best Forex Execution Broker</li>
                                <li>Best Forex Automation</li>
                                <li>Best Forex Binary Options Broker</li>
                                <li>Best Forex CFD Broker</li>
                                <li>Best Value Forex Broker</li>
                                <li>Forex Provider of the Year 2018</li>
                                <li>Forex Newcomer of the Year 2018</li>
                                <li>Best Forex Social Trading Broker</li>
                                <li>Best Forex Trading Innovation</li>
                                <li>Best Forex Trading Experience</li>
                                <li>Best Spread Betting Service</li>
                                <li>Best Forex Trading Platform</li>
                                <li>Best Forex Trading Technology</li>
                                <li>Best Forex Technical Excellence</li>
                            </div>
                        </div>
                        <div class="container-fluid" style="padding-left: 200px;">
                            <div class="col" style="text-align: left;">
                                <li>Best Forex Trading Tools</li>
                                <li>Best MT5 Broker</li>
                                <li>Best MT4 Broker</li>
                                <li>Best Forex Educators</li>
                                <li>Best Forex Trading Account</li>
                                <li>Best Forex Customer Service</li>
                                <li>Best Forex Trading Conditions</li>
                                <li>Best Forex Trading Support</li>
                                <li>Best Forex Affiliate Programme</li>
                                <li>Most Trusted Forex Broker</li>
                                <li>Best Trading Order Management</li>
                                <li>Best Payments System</li>
                                <li>est Forex Software Developer </li>
                                <li>Best Portfolio Management </li>
                                <li>Best Automated Trading Platform</li>
                                <li>Best Valuable Forex Broker </li>
                                <li>Best Forex Cryptocurrency </li>
                                <li>Best Bitcoin Forex Broker</li>
                            </div>
                        </div>
                    </div>
                </ol>
            </section>
            <hr>
            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <h3>APPLY FOR AWARDS</h3>
                    <%= render "form" %>
                        <div class="copyright">
                            &copy; GamerzArena</a>
                        </div>
                </div>
            </footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="container-fluid" style="padding-left: 180px;">
                        <div class="col">
                            <h3>Sponsorship Enquiries</h3>
                            <p>Calvin Kirochi</p>
                            <p>calvin.kirochi@gamerzarenaea.com</p>
                            <p>+254 732 069641</p>
                        </div>
                    </div>
                    <div class="container-fluid" style="padding-left: 200px;">
                        <div class="col">
                            <h3>Event Enquiries</h3>
                            <p>Isaiah Nyathari</p>
                            <p>isaiah.nyathari@gamerzarenaea.com</p>
                            <p>+254 720 901140</p>
                        </div>
                    </div>
                </div>
            </div>
</body>

</html>