<!DOCTYPE html>
<html>
<title>
    <%= content_for(:title, "Forex Conferences") %>
</title>
<style>
body {
    overflow-x: hidden;
    background-image: url("./assets/Conference.png");
    color: black;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

no-repeat fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family: cursive;
padding: 0;
margin: 0;
width: auto;
height: auto;



}
</style>

<body>
    <header>
        <h1>2017 Kenya Forex Trading Conference</h1>
    </header>
    <div class="w3-row-padding" style="padding-top: 100px">
        <div class="w3-third w3-container w3-margin-bottom " style="padding-left: 100px">
            <img src="./assets/forex-conference.jpg" style="width:100% " class="w3-hover-opacity ">
        </div>
        <div class="jumbotron" style="padding-left: 200px">
            <p>A conference like no other in Kenya where you get an opportunity to be taught about Online Forex Trading and what it takes to be a Successful Forex Trader. Also during the conference you will get the opportunity to interact and network with our very own Successful Forex Traders who are self-made millionaires through Forex Trading.</p>
        </div>
    </div>
    <section id="three" class="wrapper align-center">
        <div class="jumbotron">
            <h1 class="w3-xxlarge"><b>AGENDA</b></h1>
            <ol>
                <div class="row">
                    <div class="container-fluid" style="padding-left: 150px;">
                        <div class="col" style="text-align: left;">
                            <li>Global Forex Market</li>
                            <li>Soft skills for Forex Trading (Emotional Mastery)</li>
                            <li>Forex Trading Fundamental Analysis</li>
                            <li>Forex Trading Technical Analysis</li>
                            <li>Forex Trading Sentiment analysis</li>
                            <li>Forex Trading Strategies</li>
                        </div>
                    </div>
                    <div class="container-fluid" style="padding-left: 200px;">
                        <div class="col" style="text-align: left;">
                            <li>Trading platform – MT4</li>
                            <li>How to identifier the best Forex Broker</li>
                            <li>Foreign Exchange & Forex Regulators</li>
                            <li>Placing a Trade</li>
                            <li>Money and Risk Management</li>
                            <li>What it takes to be a Successful Forex Trader</li>
                        </div>
                    </div>
                </div>
            </ol>
        </div>
    </section>
    <footer id="footer">
        <div class="inner">
            <h3>APPLY NOW</h3>
            <%= render "form" %>
                <div class="copyright">
                    &copy; GamerzArena</a>
                </div>
        </div>
    </footer>
    <div class="mySlides w3-display-container w3-center">
        <img src="./assets/Conference.png" style="width: 100%">
    </div>
</body>

</html>