<!DOCTYPE HTML>
<html>

<body>
    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <header>
                <h1>2017 Kenya Forex Trading Conference</h1>
            </header>
            <div class="mySlides w3-display-container w3-center">
                <img src="./assets/forex-conference.jpg">
            </div>
            <div class="flex ">
                <p>A conference like no other in Kenya where you get an opportunity to be taught about Online Forex Trading and what it takes to be a Successful Forex Trader. Also during the conference you will get the opportunity to interact and network with our very own Successful Forex Traders who are self-made millionaires through Forex Trading.</p>
            </div>
            <hr>
            <!--four-->
            <section id="three" class="wrapper align-center">
                <h1 class="w3-xlarge"><b>AGENDA</b></h1>
                <ol>
                    <div class="row">
                        <div class="container-fluid" style="padding-left: 80px;">
                            <div class="col" style="text-align: left;">
                                <li>Global Forex Market</li>
                                <li>Soft skills for Forex Trading (Emotional Mastery)</li>
                                <li>Forex Trading Fundamental Analysis</li>
                                <li>Forex Trading Technical Analysis</li>
                                <li>Forex Trading Sentiment analysis</li>
                                <li>Forex Trading Strategies</li>
                            </div>
                        </div>
                        <div class="container-fluid" style="padding-left: 200px;">
                            <div class="col" style="text-align: left;">
                                <li>Trading platform – MT4</li>
                                <li>How to identifier the best Forex Broker</li>
                                <li>Foreign Exchange & Forex Regulators</li>
                                <li>Placing a Trade</li>
                                <li>Money and Risk Management</li>
                                <li>What it takes to be a Successful Forex Trader</li>
                            </div>
                        </div>
                    </div>
                </ol>
            </section>
            <hr>
            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <h3>APPLY NOW</h3>
                    <%= render "form" %>
                        <div class="copyright">
                            &copy; GamerzArena</a>
                        </div>
                </div>
            </footer>
</body>

</html>