<header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-xxxlarge"><b>MT4 Trading Platform</b></h1>
    <p>We do offer the award-winning MetaTrader 4 platform for trading Forex, Indices and Commodities. We also offer MT4 WebTrader for internet browsers and mobile trading platforms for Android, iPhone and iPad. These platforms are all free of charge.</p>
</header>
<!-- Image header -->
<header class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="./assets/trade-platform.png" alt="Fashion Blog" width="1600" height="1060">
</header><hr>

<div class="container-fluid">
	<a href="/">Open an Account!</a>
	</div><hr>