<!DOCTYPE HTML>
<html>

<body>
    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <header>
                <h1>AFRICA FOREX AWARDS 2018 </h1>
            </header>
            <div class="flex ">
                <p><b>Africa Forex Awards</b> will bring the great and good of the Forex industry together to celebrate the many successes of the year. The 2018 Africa Forex Awards winners will be announced on Wednesday 15 February 2018, at the Taj Cape Town; South Africa. The awards look to celebrate the best performing companies in the Africa Forex markets. Forex traders and the private investment community have the chance to cast their votes online for those companies that have consistently performed to the best of their abilities making the Africa Forex Awards a unique event of its kind in Africa. The awards reward those companies championing cutting-edge technology, low-cost trading, comprehensive market research tools, advanced educational programmes and world-class customer service.</p>
            </div>
            <!-- Three -->
            <section id="three" class="wrapper align-center">
                <div class="inner">
                    <div class="flex flex-2">
                        <article>
                            <h1 class="w3-large"><b>The Event Schedule</b></h1>
                            <p>18.15 - Champagne reception on arrival</p>
                            <p>19.00 - Live entertainment</p>
                            <p>19.30 - Drinks reception, canapés and photo opportunities</p>
                            <p>22.00 - Close</p>
                        </article>
                        <article>
                            <h1 class="w3-xlarge"><b>Awards Timelines</b></h1>
                            <table>
                                <tr>
                                    <th>1 January 2018 </th>
                                    <th> Nomination voting opens</th>
                                </tr>
                                <tr>
                                    <th>26 January 2018 </th>
                                    <th> Nomination voting closes</th>
                                </tr>
                                <tr>
                                    <th>1 February 2018 </th>
                                    <th> Nominations announced</th>
                                </tr>
                                <tr>
                                    <th>15 February 2018 </th>
                                    <th> Winners announced</th>
                                </tr>
                            </table>
                        </article>
                    </div>
                </div>
            </section>
            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <h3>APPLY FOR AWARDS (Form)</h3>
                    <%= render "form" %>
                    <div class="copyright">
                        &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
                    </div>
                </div>
            </footer>
            <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/util.js"></script>
            <script src="assets/js/main.js"></script>
</body>

</html>