<style>
table,
th,
td {
    border: 1px solid black;
}
</style>
<!-- Header -->
<header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-xxxlarge"><b>AFRICA FOREX AWARDS 2018 </b></h1>
</header>
<div class="container-fluid">
    <p><b>Africa Forex Awards</b> will bring the great and good of the Forex industhy together to celebrate the many successes of the year. The 2018 Africa Forex Awards winners will be announced on Wednesday 15 February 2018, at the Taj Cape Town; South Africa. The awards look to celebrate the best performing companies in the Africa Forex markets. Forex thaders and the private investment community have the chance to cast their votes online for those companies that have consistently performed to the best of their abilities making the Africa Forex Awards a unique event of its kind in Africa. The awards reward those companies championing cutting-edge technology, low-cost thading, comprehensive market research tools, advanced educational programmes and world-class customer service.</p>
</div>
<div class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-large"><b>The Event Schedule</b></h1>
</div>
<p>18.15 Champagne reception on arrival</p>
<p>19.00 Live entertainment</p>
<p>19.30 Drinks reception, canapés and photo opportunities</p>
<p>22.00 Close</p>
<div class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-xlarge"><b>Awards Timelines</b></h1>
    <table>
        <tr>
            <th>1 January 2018 Nomination voting opens</th>
            <th>26 January 2018 Nomination voting closes</th>
            <th>1 February 2018 Nominations announced</th>
            <th>15 February 2018 Winners announced</th>
        </tr>
    </table>
</div>
<div class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-xlarge"><b>Africa Forex Awards 2018 Categories</b></h1>
    <ul>
        <li>Best Forex Broker in Africa</li>
        <li>Best Forex Fundamental Analysis Provider</li>
        <li>Best Forex Technical Analysis Provider</li>
        <li>Best Forex Mobile/Tablet Trading Application</li>
        <li>Best Forex STP/ECN Broker</li>
        <li>Best Forex Execution Broker</li>
        <li>Best Forex Automation</li>
        <li>Best Forex Binary Options Broker</li>
        <li>Best Forex CFD Broker</li>
        <li>Best Value Forex Broker</li>
        <li>Forex Provider of the Year 2018</li>
        <li>Forex Newcomer of the Year 2018</li>
        <li>Best Forex Social Trading Broker</li>
        <li> Best Forex Trading Innovation</li>
        <li>Best Forex Trading Experience</li>
        <li>Best Spread Betting Service</li>
        <li>Best Forex Trading Platform</li>
        <li>Best Forex Trading Technology</li>
        <li>Best Forex Technical Excellence</li>
        <li>Best Forex Trading Tools</li>
        <li>Best MT5 Broker</li>
        <li>Best MT4 Broker</li>
        <li>Best Forex Educators</li>
        <li>Best Forex Trading Account</li>
        <li>Best Forex Customer Service</li>
        <li>Best Forex Trading Conditions</li>
        <li>Best Forex Trading Support</li>
        <li>Best Forex Affiliate Programme</li>
        <li>Most Trusted Forex Broker</li>
        <li>Best Trading Order Management</li>
        <li>Best Payments System</li>
        <li>Best Forex Software Developer</li>
        <li>Best Portfolio Management</li>
        <li>Best Automated Trading Platform</li>
        <li>Best Valuable Forex Broker </li>
        <li>Best Forex Cryptocurrency</li>
        <li>Best Bitcoin Forex Broker</li>
    </ul>
</div>
<div class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-large"><b>APPLY FOR AWARDS (Form)</b></h1>

    <%= render "form" %>
    
    <hr>
    <h2>Sponsorship Enquiries</h2>
    <p>Calvin Kirochi E: <i>calvin.kirochi@gamerzarenaea.com</i></p>
    <p> T: +254 732 069641</p>
    <h2>Event Enquiries</h2>
    <p>Isaiah Nyathari E: <i>isaiah.nyathari@gamerzarenaea.com</i>
        <p>T: +254 720 901140</p>
</div>