<style>
table, th, td {
    border: 1px solid black;
}
</style>
<!-- Header -->
  <header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-xxxlarge"><b>AFRICA FOREX AWARDS 2018 </b></h1>
  </header>

  <div class="container-fluid">
  	<p><b>Africa Forex Awards</b> will bring the great and good of the Forex industhy together to celebrate the many successes of the year. The 2018 Africa Forex Awards winners will be announced on Wednesday 15 February 2018, at the Taj Cape Town; South Africa. 
The awards look to celebrate the best performing companies in the Africa Forex markets. Forex thaders and the private investment community have the chance to cast their votes online for those companies that have consistently performed to the best of their abilities making the Africa Forex Awards a unique event of its kind in Africa.
The awards reward those companies championing cutting-edge technology, low-cost thading, comprehensive market research tools, advanced educational programmes and world-class customer service.</p>
  </div>

  <div class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-large"><b>The Event Schedule</b></h1>
</div>

<p>18.15 Champagne reception on arrival</p>
<p>19.00 Live entertainment</p>
<p>19.30 Drinks reception, canapés and photo opportunities</p>
<p>22.00 Close</p>

<div class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-large"><b>Awards Timelines</b></h1>
    <table>
    	<tr>
    	<th>1 January  2018 Nomination voting opens</th>
    	<th>26 January 2018 Nomination voting closes</th>
    	<th>1 February 2018 Nominations announced</th>
    	<th>15 February 2018 Winners announced</th>
    </tr>
    </table>
</div>