<!DOCTYPE html>
<html>
<br>
<br>
<h2>Forex Trade Mogul Competition </h2>

<body>
    <div class="mySlides w3-display-container w3-center">
        <img src="./assets/competition.jpg" style="width:100%">
    </div>
    <br>
    <h3>Introduction</h3>
    <div class="w3-row-padding w3-center w3-margin-top">
        <div class="w3-third">
            <div class="w3-card-2 w3-container" style="min-height:460px">
                <h3>Forex Trade Mogul Competition</h3>
                <br>
                <i class="fa fa-desktop w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
                <p><b>Forex Trade Mogul Competition</b> is a unique and exciting Online Forex Trading Simulation, created and developed by Forex Arena that aims to provide Kenyans a chance to experience trading in international Forex currency pair’s i.e. EUR/USD, GBP/USD, USD/JPY, USD/CHF among others and CFD trading i.e. Gold, Oil, Indices among others. This competition is intended for Kenyans only to experience the challenges of trading in international Forex markets with real-time prices. You will be able to test your analytical skills and risk appetite against professional traders.</p>
            </div>
        </div>
        <div class="w3-third">
            <div class="w3-card-2 w3-container" style="min-height:460px">
                <h3>Forex Trading</h3>
                <br>
                <i class="fa fa-css3 w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
                <p><b>Forex Trading</b> is buying low and selling high or selling high and then buying low, depending on how you anticipate the market moving. Buy if you feel the market is going to go up. If you feel the market is set to come down, sell and buy later when it’s down.</p>
            </div>
        </div>
        <div class="w3-third">
            <div class="w3-card-2 w3-container" style="min-height:460px">
                <h3>Are you good at it?</h3>
                <br>
                <i class="fa fa-diamond w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
                <p><b>Are you good at it?</b> Do you like it? In general, Forex trading successfully is less about your academic foundation and more about your skills and personal abilities. Successful traders come from all academic disciplines, especially those that require strong numerate and analytical skills. You may not have knowledge of international markets, but market information and analytical reports are provided on the Forex Arena website as part of the trading simulation.</p>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="w3-padding-32">
        <button class="w3-btn w3-xlarge w3-red w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900;">Terms and Conditions</button>
    </div>
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-top">
            <header class="w3-container w3-theme-l1">
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">×</span>
                <div class="w3-padding">
                    <p>1. Forex Trade Mogul Competition will commence on 1 November 2017 and end on 22 November 2017. Registration to participate in the competition is open now and will stay open until the end of the competition on the 22nd November at 23:59 GMT. This is the opportunity to win, with no risk and no entry fee, 24/7 you can trade anywhere and anytime using your Laptop/ Tablet/ iPad / Mobile Phone or trade on any web browser.</p>
                    <p>2. On your Forex Trade Mogul Competition Account you will be allocated $ 50,000 which is equivalent to Ksh 5,000,000 and Contest Accounts will be set only in USD currency. You are required to trade the money on all Forex Currency and generate as much profit as you can and minimize your loss as you can. The ranking of the competition will be based only on profit and loss (PnL) on your account and it will be posted daily on the ranking section.</p>
                    <p>3. Registration is open and you can start practicing now up-to 31st October 2017 on your Forex Trade Mogul Competition Account. All the Forex Trade Mogul Competition Account account will be reset back to $ 50,000 before the competition starts on 1st November 2017.</p>
                    <p>4. All positions that are open at end of Forex Trade Mogul Competition on 22 November 2017 at 11:59 PM Kenyan Time will be automatically closed at prevailing market prices.</p>
                    <p>5. Cash prizes awaiting the winners are real money! *All prizes are credited in a Live Account. The top 3 performers will be awarded the following: Grand Winner USD 2,000 ( equivalent to Ksh 200,000) First Runners Up USD 1,000 (equivalent to Ksh 100,000) Second Runners Up USD 750 (equivalent to Ksh 75,000) Terms & Conditions apply (Accept To Register) – Our Database: Name, Email, Mobile No:</p>
                    <input type="checkbox" name="agree" id="agree" value="agree" /> <label for='agree'>Do you agree to Terms & Conditions?</label>
                </div>
            </header>
        </div>
    </div>
</body>

</html>