<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<h2 class="w3-center">Manual Slideshow</h2>

<div class="w3-content w3-display-container">
  <img class="mySlides" src="./assets/forex-trade-training.jpg" alt="forex trade training" style="width:100%">
  <img class="mySlides" src="./assets/learn-to-trade-forex.jpg" alt="forex trade training" style="width:100%">
  <img class="mySlides" src="./assets/Babypips.jpg" alt="forex trade training" style="width:100%">
  <img class="mySlides" src="./assets/online-trading-academy.jpg" alt="forex trade training" style="width:100%">

  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
</script>

</body>
</html>



<!-- Image header -->
<header class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="./assets/forex-trade-training.jpg" alt="forex trade training" width="1600" height="1060">
</header><hr>

<div class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="./assets/learn-to-trade-forex.jpg" alt="forex trade training" width="1600" height="1060">
</div><hr>

<div class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="./assets/Babypips.jpg" alt="forex trade training" width="1600" height="1060">
    <a href="https://www.babypips.com/">Babypips.com<a>
</div><hr>

<iframe width="420" height="315"
src="https://www.youtube.com/user/babypips?controls=0">
</iframe>

<div class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="./assets/dailyfx.jpg" alt="forex trade training" width="1600" height="1060">
    <a href="https://www.dailyfx.com/forex-education/">DailyFx Forex Education<a>
</div><hr>

<div class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="./assets/online-trading-academy.jpg" alt="forex trade training" width="1600" height="1060">
    <a href="http://www.tradingacademy.com/education/forex-trading-courses.aspx">Online Trading Academy<a>
</div><hr>

<div class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="./assets/forexnoobs.jpg" alt="forex trade training" width="1600" height="1060">
    <a href="https://www.forex4noobs.com/">ForexNoobs<a>
</div><hr>

<div class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="./assets/platinum-trading-academy.jpg" alt="forex trade training" width="1600" height="1060">
    <a href="https://www.platinumtradingacademy.com/">Platinum Trading Academy<a>
</div><hr>

<div class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="./assets/forex-school-online.jpg" alt="forex trade training" width="1600" height="1060">
    <a href="http://www.forexschoolonline.com/forex-school-beginner-course/">Forex School Online<a>
</div><hr>