<!DOCTYPE html>
<html>
<style>
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif
}
</style>

<body class="w3-light-grey w3-content" style="max-width:1600px">
    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" ">  
  <!-- First Photo Grid-->
  <div class="w3-row-padding ">
    <div class="w3-third w3-container w3-margin-bottom ">
      <img src="./assets/forex-trade-training.jpg " alt="Norway " style="width:100% " class="w3-hover-opacity ">
      <div class="w3-container w3-white ">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom ">
      <img src="./assets/Babypips.jpg " alt="Norway " style="width:100% " class="w3-hover-opacity ">
      <div class="w3-container w3-white ">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container ">
      <iframe width="420 " height="315 "
src="https://www.youtube.com/watch?v=Yy3IYpeC-Vg?autoplay=1 ">
</iframe>
      <div class="w3-container w3-white ">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding ">
    <div class="w3-third w3-container w3-margin-bottom ">
      <img src="./assets/dailyfx.jpg " alt="Norway " style="width:100% " class="w3-hover-opacity ">
      <div class="w3-container w3-white ">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom ">
      <img src="./assets/online-trading-academy.jpg " alt="Norway " style="width:100% " class="w3-hover-opacity ">
      <div class="w3-container w3-white ">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container ">
      <img src="./assets/platinum-trading-academy.jpg " alt="Norway " style="width:100% " class="w3-hover-opacity ">
      <div class="w3-container w3-white ">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
  </div>

  <!-- third Photo Grid-->
  <div class="w3-row-padding ">
    <div class="w3-third w3-container w3-margin-bottom ">
      <img src="./assets/forexnoobs.jpg " alt="Norway " style="width:100% " class="w3-hover-opacity ">
      <div class="w3-container w3-white ">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom ">
      <img src="./assets/forex-school-online.jpg " alt="Norway " style="width:100% " class="w3-hover-opacity ">
      <div class="w3-container w3-white ">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32 ">
    <div class="w3-bar ">
      <a href="# " class="w3-bar-item w3-button w3-hover-black ">«</a>
      <a href="# " class="w3-bar-item w3-black w3-button ">1</a>
      <a href="# " class="w3-bar-item w3-button w3-hover-black ">2</a>
      <a href="# " class="w3-bar-item w3-button w3-hover-black ">3</a>
      <a href="# " class="w3-bar-item w3-button w3-hover-black ">4</a>
      <a href="# " class="w3-bar-item w3-button w3-hover-black ">»</a>
    </div>
  </div>
  </div>
  
  <!-- Contact Section -->
  <div class="w3-container w3-padding-large w3-grey ">
    <h4 id="contact "><b>Contact Me</b></h4>
    <div class="w3-row-padding w3-center w3-padding-24 " style="margin:0 -16px ">
      <div class="w3-third w3-dark-grey ">
        <p><i class="fa fa-envelope w3-xxlarge w3-text-light-grey "></i></p>
        <p>email@email.com</p>
      </div>
      <div class="w3-third w3-teal ">
        <p><i class="fa fa-map-marker w3-xxlarge w3-text-light-grey "></i></p>
        <p>Chicago, US</p>
      </div>
      <div class="w3-third w3-dark-grey ">
        <p><i class="fa fa-phone w3-xxlarge w3-text-light-grey "></i></p>
        <p>512312311</p>
      </div>
    </div>
    <hr class="w3-opacity ">
    <form action="/action_page.php " target="_blank ">
      <div class="w3-section ">
        <label>Name</label>
        <input class="w3-input w3-border " type="text " name="Name " required>
      </div>
      <div class="w3-section ">
        <label>Email</label>
        <input class="w3-input w3-border " type="text " name="Email " required>
      </div>
      <div class="w3-section ">
        <label>Message</label>
        <input class="w3-input w3-border " type="text " name="Message " required>
      </div>
      <button type="submit " class="w3-button w3-black w3-margin-bottom "><i class="fa fa-paper-plane w3-margin-right "></i>Send Message</button>
    </form>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-dark-grey ">
  <div class="w3-row-padding ">
    <div class="w3-third ">
      <h3>FOOTER</h3>
      <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp " target="_blank ">w3.css</a></p>
    </div>
  
    <div class="w3-third ">
      <h3>BLOG POSTS</h3>
      <ul class="w3-ul w3-hoverable ">
        <li class="w3-padding-16 ">
          <img src="/w3images/workshop.jpg " class="w3-left w3-margin-right " style="width:50px ">
          <span class="w3-large ">Lorem</span><br>
          <span>Sed mattis nunc</span>
        </li>
        <li class="w3-padding-16 ">
          <img src="/w3images/gondol.jpg " class="w3-left w3-margin-right " style="width:50px ">
          <span class="w3-large ">Ipsum</span><br>
          <span>Praes tinci sed</span>
        </li> 
      </ul>
    </div>
  </div>
  </footer>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar ").style.display = "block ";
    document.getElementById("myOverlay ").style.display = "block ";
}
 
function w3_close() {
    document.getElementById("mySidebar ").style.display = "none ";
    document.getElementById("myOverlay ").style.display = "none ";
}
</script>

</body>
</html>



<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport " content="width=device-width, initial-scale=1 ">
<link rel="stylesheet " href="https://www.w3schools.com/w3css/4/w3.css ">
<body>

<h2 class="w3-center ">Manual Slideshow</h2>

<div class="w3-content w3-display-container ">
  <img class="mySlides " src="./assets/forex-trade-training.jpg " alt="forex trade training " style="width:100% ">
  <img class="mySlides " src="./assets/learn-to-trade-forex.jpg " alt="forex trade training " style="width:100% ">
  <img class="mySlides " src="./assets/Babypips.jpg " alt="forex trade training " style="width:100% ">
  <img class="mySlides " src="./assets/online-trading-academy.jpg " alt="forex trade training " style="width:100% ">

  <button class="w3-button w3-black w3-display-left " onclick="plusDivs(-1) ">&#10094;</button>
  <button class="w3-button w3-black w3-display-right " onclick="plusDivs(1) ">&#10095;</button>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides ");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none ";  
  }
  x[slideIndex-1].style.display = "block ";  
}
</script>

</body>
</html>



<!-- Image header -->
<header class="w3-display-container w3-wide " id="home ">
    <img class="w3-image " src="./assets/forex-trade-training.jpg " alt="forex trade training " width="1600 " height="1060 ">
</header><hr>

<div class="w3-display-container w3-wide " id="home ">
    <img class="w3-image " src="./assets/learn-to-trade-forex.jpg " alt="forex trade training " width="1600 " height="1060 ">
</div><hr>

<div class="w3-display-container w3-wide " id="home ">
    <img class="w3-image " src="./assets/Babypips.jpg " alt="forex trade training " width="1600 " height="1060 ">
    <a href="https://www.babypips.com/ ">Babypips.com<a>
</div><hr>

<iframe width="420 " height="315 "
src="https://www.youtube.com/user/babypips?controls=0 ">
</iframe>

<div class="w3-display-container w3-wide " id="home ">
    <img class="w3-image " src="./assets/dailyfx.jpg " alt="forex trade training " width="1600 " height="1060 ">
    <a href="https://www.dailyfx.com/forex-education/ ">DailyFx Forex Education<a>
</div><hr>

<div class="w3-display-container w3-wide " id="home ">
    <img class="w3-image " src="./assets/online-trading-academy.jpg " alt="forex trade training " width="1600 " height="1060 ">
    <a href="http://www.tradingacademy.com/education/forex-trading-courses.aspx ">Online Trading Academy<a>
</div><hr>

<div class="w3-display-container w3-wide " id="home ">
    <img class="w3-image " src="./assets/forexnoobs.jpg " alt="forex trade training " width="1600 " height="1060 ">
    <a href="https://www.forex4noobs.com/ ">ForexNoobs<a>
</div><hr>

<div class="w3-display-container w3-wide " id="home ">
    <img class="w3-image " src="./assets/platinum-trading-academy.jpg " alt="forex trade training " width="1600 " height="1060 ">
    <a href="https://www.platinumtradingacademy.com/ ">Platinum Trading Academy<a>
</div><hr>

<div class="w3-display-container w3-wide " id="home ">
    <img class="w3-image " src="./assets/forex-school-online.jpg " alt="forex trade training " width="1600 " height="1060 ">
    <a href="http://www.forexschoolonline.com/forex-school-beginner-course/ ">Forex School Online<a>
</div><hr>