<!DOCTYPE html>
<html>

<body>
    <div class="mySlides w3-display-container w3-center">
        <img src="./assets/dollar-competition.jpg" style="width:100%">
    </div>
    <br>
    <!-- First Grid-->
    <div class="w3-row-padding">
        <p>Put your Forex Trading skills to the test on live trading competition. If you have the highest return when the competition ends, you will be fast-tracked into our program with us $ 1,000,000 to trade with!</p>
        <div class="w3-third w3-container w3-margin-bottom">
            <div class="w3-container w3-white">
                <p><b>1st Prize - $ 1M Trading Account </b></p>
            </div>
        </div>
        <div class="w3-third w3-container w3-margin-bottom">
            <div class="w3-container w3-white">
                <p><b>2nd Prize - $250K Trading Account</b></p>
            </div>
        </div>
        <div class="w3-third w3-container">
            <div class="w3-container w3-white">
                <p><b>3rd Prize - $ 100K Trading Account </p>
      </div>
    </div>
    <div class="container-fluid">
    <a href="/">Sign Up Now!</a>
</div>
</body>

</html>