<!DOCTYPE HTML>
<html>

<body>
    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <header>
                <h1>Forex Trading Seminars </h1>
            </header>
            <div class="mySlides w3-display-container w3-center">
              <img src="./assets/forex-seminars.jpg" style="width:100%">
            </div>
        </div>
            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <h3>Register Now!</h3>
                    <%= render "form" %>
                        <div class="copyright">
                            &copy; GamerzArena</a>
                        </div>
                </div>
            </footer>
</body>

</html>