<!DOCTYPE HTML>
<html>

<body>
    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <header>
                <h1>Forex Trading Seminars </h1>
            </header>
            <div class="mySlides w3-display-container w3-center">
                <img src="./assets/forex-seminars.jpg" style="width:100%">
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <h3>Register below before signing up!</h3>
            <%= render "form" %>
        </div><hr>
        <p class="w3-xlarge">
            <a href="https://www.axitrader.com/ae-en/promotions/kenya-2017" class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off" style="padding:8px 60px">Sign Up!</a>
        </p>
        <div class="copyright">
            &copy; GamerzArena</a>
        </div>
    </footer>
</body>

</html>